.a{
    width:600px;
    height:400px;
    background-color:black;
}
.b{
    width:600px;
    height:80px;
    background-color:gray;
} 
.r1{
    width:100px;
    height:80px;
    background-color:burlywood;
    float:left;
}
.e{
    width:400px;
    height:80px;
    background-color:orange;
    float:left;
}
.f{
        width:100px;
        height:80px;
        background-color:rgb(25, 108, 90);
        float:right;
    }
  .g{
    width:100px;
    height:40px;
    background-color:rebeccapurple;
    float:right;
  }  
  .h{
    width:100px;
    height:40px;
    background-color:thistle;
    float:right;
  }
  .p1{
    width:50px;
    height:40px;
    background-color:olivedrab;
    float:left;
  }
 .q1{
    width:50px;
    height:40px;
    background-color:chartreuse;
    float:right;
  }
  .c{
    width:600px;
    height:320px;
    background-color:orchid;
  }
  .i{
    width:600px;
    height:80px;
    background-color:goldenrod;
  }
  .j{
    width:100px;
    height:80px;
    background-color:paleturquoise;
    float:left;
  }
  .ab{
    width:500px;
    height:80px;
    background-color:deeppink;
    float:right; 
  }
  .k{
    width:600px;
    height:80px;
    background-color:grey;
  }
  .l{
    width:100px;
    height:80px;
    background-color:darkslateblue;
    float:left;
  }
 .m{
  width:100px;
  height:80px;
  background-color:navy;
  float:left;
 }
 .n{
  width:50px;
  height:80px;
  background-color:rosybrown;
  float:left;
 }
 .o{
  width:50px;
  height:80px;
  background-color:teal;
  float:right;
 }
 .p{
  width:100px;
  height:80px;
  background-color:orangered;
  float:left;
 }
 .q{
  width:300px;
  height:80px;
  background-color:aqua;
  float:right;
 }
 .t{
  width:600px;
  height:80px;
  background-color:khaki;
  float:left;
 }
 .u{
  width:100px;
  height:80px;
  background-color:rgb(8, 3, 30);
  float:left;
 }
 .v{
  width:100px;
  height:80px;
  background-color:rgb(12, 232, 232);
  float:left;
 }
 .w{
  width:50px;
  height:80px;
  background-color:rosybrown;
  float:left;
 }
 .x{
  width:50px;
  height:80px;
  background-color:teal;
  float:left;
 }
 .y{
  width:100px;
  height:80px;
  background-color:orangered;
  float:left;
 }
 .z{
  width:100px;
  height:80px;
  background-color:purple;
  float:left;
 }
 .a1{
  width:100px;
  height:80px;
  background-color:darkseagreen;
  float:left;
 }
 .b1{
  width:100px;
  height:80px;
  background-color:navy;
  float:right;
 }
 .c1{
  width:600px;
  height:80px;
  background-color:antiquewhite;
  float:left;
 }
 .d1{
  width:100px;
  height:80px;
  background-color:wheat;
  float:left;
 }
 .e1{
  width:50px;
  height:80px;
  background-color:rgb(95, 5, 95);
  float:left;
 }
 .f1{
  width:50px;
  height:80px;
  background-color:rgb(226, 241, 60);
  float:left;
 }
 .g1{
  width:100px;
  height:80px;
  background-color:rgb(138, 220, 15);
  float:left;
 }
 .h1{
  width:100px;
  height:80px;
  background-color:orangered;
  float:left;
 }
 .i1{
  width:100px;
  height:80px;
  background-color:tomato;
  float:left;
 }
 .j1{
  width:50px;
  height:80px;
  background-color:teal;
  float:left;
 }
 .k1{
  width:50px;
  height:80px;
  background-color:blue;
  float:left;
 }
 .l1{
  width:100px;
  height:80px;
  background-color:brown;
  float:left;
 }
 .m1{
  width:100px;
  height:80px;
  background-color:gainsboro;
  float:right;
 }
 .n1{
  width:50px;
 height:80px;
 background-color:rgb(25, 108, 90);
 float:left;

 }
 .o1{
  width:50px;
  height:80px;
  background-color:deeppink;
  float:left;
 }