.ab{
  height:1100px;
  background-color: whitesmoke;
}
.a{
    height:50px;
    background-color: white;
    position: relative;
    top:30px;

}
.a1{
   background-color: greenyellow;
   height:40px;
   width:100px;
   border:2px solid greenyellow;
   position: relative;
   top:5px;
   color:white;
}
.a2{
    background-color: skyblue;
    height:40px;
    width:100px;
    border:2px solid skyblue;
    color:white;
    position: relative;
    top:5px;
}
.a3{
    background-color: red;
    height:40px;
    width:100px;
    border:2px solid red;
    color:white;
    position: relative;
    top:5px;
}
.b{
    height:1030px;
    background-color:whitesmoke;
    position:relative;
   top:30px;
    
}
.b1{
    height:400px;
    width:400px;
    background-color: white;
    position: relative;
    left:250px;
    top:50px;
    box-shadow: 1px 1px 5px  gray;
}
.b2{
    height:400px;
    width:400px;
    background-color: white;
    position: relative;
    left:750px;
    bottom:350px;
    box-shadow: 1px 1px 5px  gray;
}
.b3{
    height:400px;
    width:400px;
    background-color: white;
    position: relative;
    left:250px;
    bottom:250px;
    box-shadow: 1px 1px 5px  gray;
}
.b4{
    height:400px;
    width:400px;
    background-color: white;
    position: relative;
    left:750px;
    bottom:650px;
    box-shadow: 1px 1px 5px  gray;
}

#bb1{
    height:100px;
    width:100px;
    border-radius: 50px;
    position: relative;
    left:40px;
    top:20px;
}
.b1b{
    position: relative;
    left:70px;
    bottom:40px;
    font-size: 25px;
    font-family:sans-serif;
}
#b1b{
    position: relative;
    right:40px;
    bottom:10px;
    font-size: 15px;
    font-family:sans-serif;
}
.sub1{
    width:2px;
    height:250px;
    background-color: rgb(177, 177, 177);
    position: relative;
    left:90px;
    top:10px;
}
.sub2{
    height:20px;
    width:20px;
    border-radius: 10px;
    background-color:rgb(52, 226, 168);
    position: relative;
    left:80px;
    bottom:200px;

}
.sub3{
    height:20px;
    width:20px;
    border-radius: 10px;
    background-color:rgb(52, 226, 168);
    position: relative;
    left:80px;
    bottom:140px;

}
.sub4{
    height:20px;
    width:20px;
    border-radius: 10px;
    background-color:rgb(52, 226, 168);
    position: relative;
    left:80px;
    bottom:80px;
}
.z{
    position: relative;
    bottom:280px;
    left:120px;
}
.z1{
    position: relative;
    left:300px;
    bottom:310px;
    color:gray;
}
.z3{
    position: relative;
    bottom:320px;
    left:120px;
    color:gray;
}
.y1{
    position: relative;
    bottom:300px;
    left:120px;
}
.y2{
    position: relative;
    left:300px;
    bottom:330px;
    color:gray;
}
.y3{
    position: relative;
    bottom:340px;
    left:120px;
    color:gray;
}
.x1{
    position: relative;
    bottom:320px;
    left:120px;
}
.x2{
    position: relative;
    left:300px;
    bottom:350px;
    color:gray;
}
.x3{
    position: relative;
    bottom:360px;
    left:120px;
    color:gray;
}


