.a{
    height:1000px;
    background-color: white;
}
.a1{
height:400px;
width:350px;
background-color: white;
position: relative;
left:150px;
top:50px;
}
.a2{
    height:400px;
    width:350px;
    background-color:rgb(221, 237, 251);
    position: relative;
    left:550px;
   bottom:350px;
    }
    .a3{
        height:400px;
        width:350px;
        background-color:rgb(250, 250, 214);
        position: relative;
        left:950px;
       bottom:750px;
        }
        .a4{
            height:400px;
            width:350px;
            background-color:rgb(253, 228, 232);
            position: relative;
            left:150px;
           bottom:700px;
            }
            .a5{
                height:400px;
                width:350px;
                background-color:rgb(221, 237, 251);
                position: relative;
                left:550px;
               bottom:1100px;
                }
                .a6{
                    height:400px;
                    width:350px;
                    background-color:rgb(253, 228, 232);
                    position: relative;
                    left:950px;
                   bottom:1500px;
                    }
h1{
    font-size: 60px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    left:20px;
}                               
.aa1{
    font-size: 20px;
    position: relative;
    left:30px;
}
.o{
    height:40px;
    width:100px;
    background-color:blueviolet ;
    color:white;
    border:3px solid blueviolet;
    position: relative;
    left:30px;
    top:30px;
}
.aa2{
height:100px;
width:100px;
position: relative;
left:40px;
top:40px;


}
#aaa2{
    height:100px;
    width:100px;

}
h4{
    position: relative;
    left:30px;
    top:40px;
    font-family: sans-serif;
}
.b{
    height:35px;
    width:35px;
    position: relative;
    left:30px;
    top:40px;
}
#c{
    height:35px;
    width:35px;
}
.b1{
    height:35px;
    width:35px;
    position: relative;
    left:30px;
    top:0px;
}
#c1{
    height:35px;
    width:35px;
}
.b2{
    height:35px;
    width:35px;
    position: relative;
    left:30px;
   bottom:40px;
}
#c2{
    height:35px;
    width:35px;
}
.y{
    font-size: 17px;
    position: relative;
    left:70px;
}
.z{
    font-size: 17px;
    position: relative;
    left:70px;
    bottom:40px;
}
.x{
    font-size: 17px;
    position: relative;
    left:70px;
    bottom:90px;
}
.o1{
    height:40px;
    width:140px;
    background-color:blueviolet ;
    color:white;
    border:3px solid blueviolet;
    position: relative;
    left:30px;
    bottom:80px;
}